= show_for @student_level do |l|
  .row
    .col-md-6= l.association :student
    .col-md-6= l.association :modality

= simple_form_for [@student, @student_level] do |f|
  = f.hidden_field :modality_id
  .row
    .col-md-6= f.association :level, collection: f.object.modality.levels, include_blank: false
    .col-md-6= f.input :date
  = f.button :submit, class: 'btn-primary'
