.content-header
  %nav
    - if @modalities.any?
      = dropdown_menu t('text.new') do
        - @modalities.each do |modality|
          = link_to modality.name, new_student_student_level_path(@student, modality_id: modality.id), class: 'dropdown-item'

    = link_to t('text.back'), @student, class: 'btn btn-secondary btn-sm'
  %h2= title t('.title', name: @student.name)

= render 'students/show_nav', active: 'levels'

.row
  - @student_levels.each do |modality, levels|
    .col-md-6
      .card
        .card-header
          %h5.card-title
            = modality.name
            %small= link_to t('text.new'), new_student_student_level_path(@student, modality_id: modality.id)
        %ul.list-group.list-group-flush
          - levels.each do |level|
            %li.list-group-item
              %span.label.label-pill.level-color{style: "background:#{level.level.color}"} &nbsp;
              = level.level.name
              \:
              = l level.date
              %small
                = link_to t('text.edit'), [:edit, @student, level]
                = link_to_destroy [@student, level]
    - if cycle('1', '2') == '2'
      .clearfix
