<h1><%= Classroom.model_name.human count: 2 %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Classroom.human_attribute_name :name %></th>
      <th><%= Classroom.human_attribute_name :modality %></th>
      <th><%= Classroom.human_attribute_name :teacher %></th>
      <th><%= Classroom.human_attribute_name :room %></th>
      <th><%= Classroom.human_attribute_name :day_of_week %></th>
      <th><%= Classroom.human_attribute_name :duration %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.name %></td>
        <td><%= classroom.modality.name %></td>
        <td><%= classroom.teacher.name %></td>
        <td><%= classroom.room.name %></td>
        <td>
          <%= week_day classroom.day_of_week %>
          at
          <%= classroom.start_at %>
        </td>
        <td><%= classroom.duration / 3600 %> hours</td>
        <td><%= link_to 'Show', classroom %></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('text.new'), new_classroom_path %>
