= modal_header

= simple_form_for :invoice, url: student_invoice_path(@student, format: :pdf), html: { target: '_blank' } do |f|
  .modal-body
    = show_for @student do |s|
      = s.attribute :name

    = f.input :first_month, collection: invoice_month_collection, selected: Date.today.month , required: false
    = f.input :months, collection: 1..18, selected: '6' , required: false
    = f.input :comment, as: :text, required: false, input_html: { value: Option.get(:invoice_comment) }

  .modal-footer
    = f.button :submit, class: 'btn-primary', disable_with: nil
