%ul.nav.nav-tabs.mb-4.pt-2
  %li.nav-item= link_to t('.data'), @student, class: "nav-link #{' active' if active == 'data'}"
  %li.nav-item= link_to t('.levels'), [ @student, :student_levels ], class: "nav-link #{' active' if active == 'levels'}"
  %li.nav-item= link_to t('.subscriptions'), [ @student, :subscriptions ], class: "nav-link #{' active' if active == 'subscriptions'}"
  %li.nav-item= link_to t('.plans'), [ @student, :student_plans ], class: "nav-link #{' active' if active == 'plans'}"
  %li.nav-item= link_to t('.bills'), [ @student, :bills ], class: "nav-link #{' active' if active == 'bills'}"
