<h1><%= Student.model_name.human count: 2 %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Student.human_attribute_name :code %></th>
      <th><%= Student.human_attribute_name :name %></th>
      <th><%= Classroom.model_name.human count: 2 %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.code %></td>
        <td><%= student.name %></td>
        <td><%= student.classrooms.pluck(:name).to_sentence %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('text.new'), new_student_path %>
