
<p>
  <strong>Code:</strong>
  <%= @student.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Document1:</strong>
  <%= @student.document1 %>
</p>

<p>
  <strong>Document2:</strong>
  <%= @student.document2 %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Responsible name:</strong>
  <%= @student.responsible_name %>
</p>

<p>
  <strong>Responsible document:</strong>
  <%= @student.responsible_document %>
</p>

<p>
  <strong>Street:</strong>
  <%= @student.street %>
</p>

<p>
  <strong>District:</strong>
  <%= @student.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @student.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @student.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @student.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @student.blood_type %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @student.profession %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @student.comment %>
</p>

<%= link_to t('text.edit'), edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
