= modal_header

= simple_form_for @bill, url: bill_bill_payments_path(@bill, format: :json), remote: true, method: :post, data: { controller: 'bill-payment-form', target: 'bill-payment-form.form'} do |f|
  = f.input :paid, as: :hidden
  .modal-body
    = show_for f.object do |b|
      .row
        .col-md-6= b.attribute :name, in: :student
        .col-md-6= b.attribute :description
      .row
        .col-md-6= b.attribute :due_at
        .col-md-6= b.attribute :amount_formatted

    = f.input :paid_at, wrapper_html: { hidden: !f.object.paid? }
    .row
      .col-md-6= f.input :discount_formatted
      .col-md-6= f.input :increase_formatted

  .modal-footer
    = f.button :submit, t('.submit'), class: 'btn-primary', disable_with: nil
