.content-header
  %nav= link_to t('text.new'), new_user_path, class: 'btn btn-sm btn-primary-outline btn-sm'
  %h2= title

%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name :name
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td.actions
          = link_to t('text.edit'), edit_user_path(user)
          = link_to_destroy user if user != current_user
