= simple_form_for @bill do |f|
  .row
    .col-md-6= f.association :student
    .col-md-6= f.input :description
  .row
    .col-md-6= f.input :amount_formatted
    .col-md-6= f.input :discount_formatted
  .row
    .col-md-6= f.input :due_at
    .col-md-6= f.input :paid_at

  = f.button :submit, class: 'btn-primary'
