= simple_form_for [ @student, @bill ] do |f|
  .row
    .col-md-6
      - if @student
        = show_for @student do |s|
          = s.attribute :name
          = f.input :student_id, as: :hidden
      - else
        = f.association :student
    .col-md-6= f.input :description
  .row
    .col-md-4= f.input :amount_formatted
    .col-md-4= f.input :discount_formatted
  .row
    .col-md-4= f.input :due_at
    .col-md-4= f.input :paid, as: :select, include_blank: false
    .col-md-4= f.input :paid_at, wrapper_html: { hidden: !f.object.paid? }

  = f.button :submit, class: 'btn-primary'
