.content-header
  %nav
    = bill_filter_dropdown

    = link_to t('.bill_generator'), [:new, @student, :bill_generator], data: { modal: true }, class: 'btn btn-outline-primary btn-sm'
    = link_to t('text.new'), [ :new, @student, :bill ], class: 'btn btn-outline-primary btn-sm'
  %h2
    = title do
      = "#{@student.name}: " if @student
      = t('.title')
      \-
      = t(".filter.#{@status}")

= render 'students/show_nav', active: 'bills' if @student

= display_when_present @bills do
  %table.table.table-striped
    %thead
      %tr
        %th= Student.model_name.human
        %th= Bill.human_attribute_name :description
        %th= Bill.human_attribute_name :due_at
        %th= Bill.human_attribute_name :paid_at
        %th= Bill.human_attribute_name :total
        %th.actions

    %tbody= render @bills
