.content-header
  %nav= link_to t('text.new'), new_bill_path, class: 'btn btn-primary-outline btn-sm'
  %h2= title

= display_when_present @bills do
  %table.table.table-striped
    %thead
      %tr
        %th= Student.model_name.human
        %th= Bill.human_attribute_name :description
        %th= Bill.human_attribute_name :due_at
        %th= Bill.human_attribute_name :paid_at
        %th= Bill.human_attribute_name :amount
        %th= Bill.human_attribute_name :discount
        %th= Bill.human_attribute_name :total
        %th.actions

    %tbody= render @bills
