%fieldset[f.object]
  .row
    .col-md-6= f.input :name, label: false
    .col-md-4
      .row
        .col-md-2
          %span.badge.level-color{style: "background:#{f.object.color}"} &nbsp;
        .col-md-10= f.input :color, label: false, collection: level_colors_options, include_blank: false
    .col-md-1
      = f.hidden_field :_destroy, data: { destroy: true }
      = f.hidden_field :position, class: 'position'
      = button_tag "&times;".html_safe, type: 'button', class: "remove_fields btn btn-danger btn-block" if f.object.can_destroy?
