.content-header
  %nav= link_to t('text.new'), new_modality_path, class: 'btn btn-primary-outline btn-sm'
  %h2= title

%table.table.table-striped
  %thead
    %tr
      %th= Modality.human_attribute_name :name
      %th

  %tbody
    - @modalities.each do |modality|
      %tr
        %td= modality.name
        %td.actions
          = link_to t('text.edit'), edit_modality_path(modality)
          = link_to_destroy modality
