<h1><%= Modality.model_name.human count: 2 %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Modality.human_attribute_name :name %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modalities.each do |modality| %>
      <tr>
        <td><%= modality.name %></td>
        <td><%= link_to 'Show', modality %></td>
        <td><%= link_to 'Edit', edit_modality_path(modality) %></td>
        <td><%= link_to 'Destroy', modality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('text.new'), new_modality_path %>
