.content-header
  %nav
    = person_filter_dropdown
    = link_to t('text.new'), new_teacher_path, class: 'btn btn-outline-primary btn-sm'
  %h2= "#{title} #{Teacher.human_status @status, count: 2}"

= display_when_present @teachers do
  %table.table.table-hover
    %thead
      %tr
        %th.text-xs-center= Teacher.human_attribute_name :code
        %th= Teacher.human_attribute_name :name
        %th= Classroom.model_name.human count: 2
        %th= Teacher.human_attribute_name :status
    %tbody= render @teachers
