<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Document1:</strong>
  <%= @teacher.document1 %>
</p>

<p>
  <strong>Document2:</strong>
  <%= @teacher.document2 %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @teacher.birthday %>
</p>

<p>
  <strong>Street:</strong>
  <%= @teacher.street %>
</p>

<p>
  <strong>District:</strong>
  <%= @teacher.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @teacher.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @teacher.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @teacher.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @teacher.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @teacher.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @teacher.blood_type %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @teacher.comment %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
