.content-header
  %nav
    = link_to icon_for(:edit, t('text.edit')), edit_teacher_path(@teacher), class: 'btn btn-outline-primary btn-sm'
    - if @teacher.student?
      = link_to t('.as_student'), student_path(@teacher), class: 'btn btn-secondary btn-sm'
    = link_to t('text.back'), teachers_path, class: 'btn btn-secondary btn-sm'
  %h2= title t('.title', name: @teacher.name)

= show_for @teacher do |t|
  .row
    .col-md-3= t.attribute :code
    .col-md-9= t.attribute :name
  .row
    .col-md-6= t.attribute :document1
    .col-md-6= t.attribute :document2
  .row
    .col-md-6= t.attribute :birthday
    .col-md-6
      = t.attribute :status do
        = person_status_label @teacher

  %hr
  = t.attribute :street
  .row
    .col-md-6= t.attribute :district
    .col-md-6= t.attribute :city
  .row
    .col-md-3= t.attribute :zip
    .col-md-3= t.attribute :state
    .col-md-6= t.attribute :country
  .row
    .col-md-6= t.attribute :phone
    .col-md-6= t.attribute :cellphone
  .row
    .col-md-6= t.attribute :email
    .col-md-6= t.attribute :blood_type
  .row
    .col-md-6= t.attribute :profession
    - if @teacher.student?
      .col-md-6= t.attribute :student

  = t.attribute :comment
