.content-header
  %nav= link_to t('text.new'), new_room_path, class: 'btn btn-outline-primary btn-sm'
  %h2= title

= display_when_present @rooms do
  %table.table.table-striped
    %thead
      %tr
        %th= Room.human_attribute_name :name
        %th

    %tbody= render @rooms
