
<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @room.comment %>
</p>

<p>
  <strong>Position:</strong>
  <%= @room.position %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
