= show_for @student_plan do |l|
  = l.association :student

= simple_form_for [@student, @student_plan] do |f|

  = f.association :plan, collection: plan_collection, include_blank: false
  = f.input :discount
  = f.input :comment
  = f.button :submit, class: 'btn-primary'
