= show_for @student_plan do |l|
  = l.association :student

= simple_form_for [@student, @student_plan] do |f|

  .row
    .col-md-6= f.association :plan, collection: plan_collection, include_blank: false
    .col-md-6
      = f.input :discount_formatted do
        .input-group
          = f.input_field :discount_formatted, class: "form-control"
          %span.input-group-addon %
  = f.input :comment
  = f.button :submit, class: 'btn-primary'
