%ul#main-nav.nav.nav-pills.nav-stacked.collapse.navbar-toggleable-xs
  = nav_item Student.model_name.human(count: 2), [ :students, :student_levels, :subscriptions, :student_plans, :subscription_bulk_updates ]
  = nav_item Bill.model_name.human(count: 2), :bills
  = nav_item Teacher.model_name.human(count: 2), :teachers
  = nav_item Classroom.model_name.human(count: 2), :classrooms
  = nav_item Modality.model_name.human(count: 2), :modalities
  = nav_item Room.model_name.human(count: 2), :rooms
  = nav_item Plan.model_name.human(count: 2), :plans
  = nav_item t('.student_report'), :student_reports, url: new_student_report_path
  = nav_item User.model_name.human(count: 2), :users
  = nav_item Option.model_name.human(count: 2), :options
