!!!
%html
%head
  %meta{ charset: "utf-8" }
  %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
  %title School
  = stylesheet_link_tag    'vendor', 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'vendor', 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body

.container
  .row
    .col-sm-4.offset-sm-4
      %h2= link_to "School", root_url
      = show_flash
      = show_errors

      = yield
