= modal_header

= simple_form_for :bill_generator, url: [@student, :bill_generator] do |f|
  .modal-body
    - if @student.present?
      = show_for @student do |s|
        = s.attribute :name

    = f.input :reference, collection: bill_reference_collection, selected: Date.today.month , required: false

  .modal-footer
    = f.button :submit, class: 'btn-primary', disable_with: nil
